* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.default-img {
  background: url("../assets/clear-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.snow-img {
  background: url("../assets/snow2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.storm-img {
  background: url("../assets/thunderstorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.rain-img {
  background: url("../assets/rain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.cloudy-img {
  background: url("../assets/cloudy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}


li {
  list-style: none;
}

.weekly {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 60px;
}


#header {
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  margin-top: 30px;
  font-size: 6rem;
}

/* The switch - the box around the slider */
.toggle {
  // position: relative;
  // display: inline-block;
  // width: 60px;
  // height: 34px;
  // margin-left:50px;

  top: 7vh;
  right: 5%;
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 34px;
 
}
// .location,
// .toggle,
// .date-time,
// .weather-description {
//   grid-column: 1;
// }
.weather-description {
  margin-top:20px;
}
.description-items{
  margin-bottom:20px;
}

.weather-text{
  position: fixed;
  top: 55%;
  left:65%
}


// .skycon,
// .weather-text {
//   grid-column: 2;
// }

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form {
  margin-top: 2rem;
  // text-align: center;
}

.search {
  padding: 10px;
  margin: 20px;

  height: 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem lightgrey, inset -0.2rem -0.2rem 0.5rem white;
  // background: none;
  color: dimgrey;
}

.form__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem lightgrey, -0.2rem -0.2rem 0.5rem white;
}

.button {
  display: none;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 1.2rem;
  padding: 1rem 3rem;
  transition: all 260ms ease;
  text-decoration: none;
  max-width: 100%;
  color: dimgrey;
  background-color: #f4f4f4;
  margin-left: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(195, 193, 198, 0.9), -0.2rem -0.2rem 0.4rem #fff;
}

.button:hover,
.button:focus {
  color: #21268b;
  outline: none;
}

.button:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
}

.icon {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  // margin: 0 auto;
  margin-top: 40px;
  right: 25%;
  position: absolute;

  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(195, 193, 198, 0.9), inset -0.2rem -0.2rem 0.5rem #fff;
}